<!DOCTYPE html>
<h2></h2>
<p>
  The time is now: <%= Time.now %>
</p>
<div>
	<style scoped>
	.button-signup {
		color:white;
		background:#009900;
		font-size:150%;
		margin-left:auto;
		margin-right:auto;
		display:block;
		width:190px;
		-moz-border-radius:4px;
		-webkit-border-radius:4px;
		border-radius:4px;
	}
	</style>
	<button class="pure-button button-signup">
		<i class="fa fa-check fa-fw"></i>
		Signup
	</button>
	
</div>
</html>