<!DOCTYPE html>
    
       <body>
		<h1>Home</h1> 
	   </body>
	   <div>
	   	<style scoped>
	   	.button-signup {
	   		color:white;
	   		background:#009900;
	   		font-size:150%;
	   		margin-left:auto;
	   		margin-right:auto;
	   		display:block;
	   		width:190px;
	   		-moz-border-radius:4px;
	   		-webkit-border-radius:4px;
	   		border-radius:4px;
	   	}
		.button-signup:hover{
			background:#00CC00;
		}
	   	</style>
	   	<button class="pure-button button-signup">
	   		<i class="fa fa-check fa-fw"></i>
	   		Signup
	   	</button>
	  </html>