<!DOCTYPE html>
       <html>
       <head>
     	  <title>Zappening, what's happening around you? |<%= @title %></title>
		  <%= csrf_meta_tag %>
        </head>
		  <body>
		 <%= yield %>
		 
          </body>
          </html>